@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'EB Garamond', sans-serif;
}
body{
  background: rgb(189,189,189);
  background: radial-gradient(circle, rgba(189,189,189,1) 11%, rgba(237,238,245,1) 91%); 
}
/************INICIO - HEADER*********/
header{
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 109px;
  width: 100%;
  z-index: 99;
  position: fixed;;
}

header img{
  width: 80px;
  border-radius:100%;
  margin-top: 10px; 
  margin-right: 20px;
  margin: 15px auto ;
}
nav{
  margin-top: 20px;
  margin-right: 100px;
  padding-right: 5px;
  line-height: 3.5; 
}

nav{
  margin: 30px 5px;
}


nav ul a {
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding: 2px 16px;
  margin: 0 2px;
  background-color: rgba(0, 174, 255, 0.349);
  transition: all .5s;
  text-decoration:none;
}

/*  ACTIVAR MENU  */

nav ul a.active, nav ul a:hover {
  color: #0084ff(248, 8, 8);
  transition: 3.s;
}

.hamburger-menu{
  width: 40px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  
}

.line {
  width: 100%;
  height: 20%;
  background-color: black;
}
/************FIN - HEADER*********/



/*************INICIO - CONTACTO - CSS GRID *********/

.contacto{
    padding: 1em;
    max-width: 100%;
  }
  
  .contacto-titulo{
    text-transform: uppercase;
    text-align: center;
  }
  
  .contenedor-contacto{
    margin: 50px 40px 5px
  }
  
  .contenedor-formulario form {
    margin: 30px auto;
    display: grid;
    grid-template-columns:repeat(2, 3fr);
    grid-template-rows: repeat(2, 3fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .contenedor-formulario form .elemento1{
    width: 60%;
  }
  
  .contenedor-formulario form .elemento2{
    width: 60%;
  }
  
  .contenedor-formulario form .elemento3{
    width: 60%;
  }
  
  .contenedor-formulario form .elemento4{
    width: 60%;
  }
  
  /*.contenedor-formulario form .elemento5{
    grid-column: 1/3;
    grid-row: 3/3;
    width: 40%;
    margin: 0 auto;
  }*/
  
  .contenedor-formulario form .elemento6{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 60%;
    margin: 0 auto;
  }
  
  .contenedor-formulario form p{
    margin: 0;
    padding:16px;
  }
  
  .contenedor-formulario form button,
  .contenedor-formulario form input,
  .contenedor-formulario form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    background:none;
    outline: none;
    border-bottom: 1px solid #0084ff;
    background: rgba(0, 174, 255, 0.09);
  }
  
  .contenedor-formulario form button{
    background-color: #0084ff;
    color: #FFFFFF;
    border: 0;
    text-transform: uppercase;
    padding: 16px;
    width: 100px;
  }
  
  
  /*************FIN - CONTACTO - CSS GRID*********/

  /*************INICIO - FOOTER*********/
.contenedor-footer{
  display: flex;
  justify-content: center;

}

.contacto-info{
  font-size: 18px;
}
/*************FIN - FOOTER*********/

