* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'EB Garamond', sans-serif;
  max-width: 1920px;
}

body {
  background: #bdbdbd;
  background: radial-gradient(circle, #bdbdbd 11%, #edeef5 91%);
}

header {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 109px;
  width: 100%;
  z-index: 99;
  position: fixed;
}

header img {
  width: 80px;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 20px;
  margin: 15px auto;
}

nav {
  margin-top: 20px;
  margin-right: 100px;
  padding-right: 5px;
  line-height: 3.5;
  margin: 30px 5px;
}

nav ul a {
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding: 2px 16px;
  margin: 0 2px;
  background-color: rgba(0, 174, 255, 0.349);
  transition: all .5s;
  text-decoration: none;
}

nav ul a:hover {
  color: #0084ff 248, 8, 8;
  transition: .3s;
}

nav ul a.active {
  color: #0084ff 248, 8, 8;
  transition: .3s;
}

.hamburger-menu {
  width: 40px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.line {
  width: 100%;
  height: 20%;
  background-color: black;
}

.imgfull {
  display: flex;
}

.imgfull img {
  width: 100%;
}

.bootstrap {
  width: 100%;
}

.bootstrap img {
  max-width: 1920px;
  margin: 0 auto;
  height: 880px;
}

.bootstrap p {
  color: #FFFFFF;
}

.contenedor-mkt {
  height: 470px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.mkt-caja {
  height: 420px;
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 400px;
  height: 350px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.box img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.box-transparente {
  margin-top: 110px;
  box-sizing: border-box;
  position: absolute;
  height: 150px;
  width: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.7);
}

.box-transparente h2 {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  font-size: 20px;
  margin: 0 auto;
}

.box-transparente p {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto;
}

.box-transparente button {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 100;
  width: 60px;
  margin: 10px auto;
  background-color: transparent;
  border: none;
  font-weight: bolder;
}

.box-transparente button:hover {
  color: white;
  border-radius: 5px;
  background-color: #0084ff;
  box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
}

.referencia-container {
  height: 470px;
}

#referencia-titulo {
  margin: 20px 0 15px 0;
  font-weight: 300;
  text-align: center;
}

.ref-boton {
  align-items: center;
  width: 60px;
  margin: 20px auto;
}

.ref-boton button {
  padding: 2px;
  border: none;
  width: 70px;
  font-weight: bolder;
}

.ref-boton button:hover {
  color: white;
  border-radius: 5px;
  background-color: #0084ff;
  box-shadow: 0 5px 10px 2px rgba(10, 137, 255, 0.5);
}

.conteiner-box {
  display: flex;
  justify-content: space-evenly;
}

.box2 {
  width: 400px;
  height: 350px;
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-text {
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.box-text p {
  color: black;
  font-size: 18px;
}

.box-img-text {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.box-img-text img {
  width: 80px;
  border-radius: 50%;
  margin: auto;
}

.box-img-text h3 {
  color: black;
  margin: auto;
}

p {
  color: black;
  margin: auto;
}

.herramientas {
  height: 600px;
  display: block;
  overflow: hidden;
}

#herra {
  margin: 20px 0 15px 0;
  font-weight: 300;
  text-align: center;
}

.box-herra1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
}

.contenedor-herramientas {
  text-align: center;
}

.contenedor-herramientas:hover {
  transform: translateX(10px);
  transition: 2s;
}

.contenedor-herramientas img:hover {
  border-radius: 5px;
  box-shadow: gray 1px 1px 5px 5px;
  transition: 1s;
}

.contenedor-herramientas p {
  color: black;
  margin: auto;
  font-size: 20px;
}

.contenedor-herramientas a {
  margin-top: 10px;
}

.contacto {
  padding: 1em;
  max-width: 100%;
}

.contacto-titulo {
  text-transform: uppercase;
  text-align: center;
}

.contenedor-contacto {
  margin: 50px 40px 5px;
}

.contenedor-formulario form {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(2, 3fr);
  row-gap: 20px;
  column-gap: 20px;
}

.contenedor-formulario form .elemento1 {
  width: 60%;
}

.contenedor-formulario form .elemento2 {
  width: 60%;
}

.contenedor-formulario form .elemento3 {
  width: 60%;
}

.contenedor-formulario form .elemento4 {
  width: 60%;
}

.contenedor-formulario form .elemento6 {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 60%;
  margin: 0 auto;
}

.contenedor-formulario form p {
  margin: 0;
  padding: 16px;
}

.contenedor-formulario form button {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
  background-color: #0084ff;
  color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  padding: 16px;
  width: 100px;
}

.contenedor-formulario form input {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
}

.contenedor-formulario form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
}

.contenedor-footer {
  display: flex;
  justify-content: center;
}

.contacto-info {
  font-size: 18px;
}

.contenedor {
  height: 900px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenedor img {
  width: 450px;
  height: 600px;
  margin-top: 140px;
}

.contenedor .imagen:hover {
  transform: translateX(-50px);
  transition: .2s;
}

.txt-sobremi {
  margin: auto 0;
  width: 550px;
  text-align: center;
  background-color: rgba(251, 183, 162, 0.5);
}

.txt-sobremi p {
  font-size: 20px;
  font-weight: 100;
}

.container-fluid {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.container-fluid img {
  width: 50%;
  height: 50%;
}

.row {
  height: 80%;
  background-color: red;
}

.centrar img {
  width: 500px;
}

section {
  text-align: center;
}

h3 {
  text-transform: uppercase;
}

.casamiento {
  height: 748px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.text-casamiento {
  margin-left: 200px;
}

.text-casamiento h2 {
  font-size: 45px;
  width: 500px;
  text-align: left;
}

.text-casamiento p {
  font-size: 20px;
  width: 500px;
  margin-top: 20px;
  text-align: left;
}

.servicios {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.servicios .cumple {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.servicios img {
  width: 464px;
  height: 464px;
}

.servicios .text-cumple {
  margin-top: 20px;
  width: 500px;
}

.servicios .text-cumple h2 {
  font-size: 20px;
}

.servicios .text-cumple p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.servicios .reunion-coorporativa {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.servicios .reunion-coorporativa img {
  width: 464px;
  height: 464px;
}

.servicios .reunion-coorporativa img .text-coorp {
  margin-top: 20px;
  width: 500px;
}

.servicios .reunion-coorporativa img .text-coorp h2 {
  font-size: 20px;
}

.servicios .reunion-coorporativa img .text-coorp p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.servicios .expo-cultural {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.servicios .expo-cultural img {
  width: 464px;
  height: 464px;
}

.servicios .expo-cultural img .text-expo-cult {
  margin-top: 20px;
  width: 500px;
}

.servicios .expo-cultural img .text-expo-cult h2 {
  font-size: 20px;
}

.servicios .expo-cultural img .text-expo-cult h2 p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.contacto {
  padding: 1em;
  max-width: 100%;
}

.contacto-titulo {
  text-transform: uppercase;
  text-align: center;
}

.contenedor-contacto {
  margin: 50px 40px 5px;
}

.contenedor-formulario form {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-rows: repeat(2, 3fr);
  row-gap: 20px;
  column-gap: 20px;
}

.contenedor-formulario form .elemento1 {
  width: 60%;
}

.contenedor-formulario form .elemento2 {
  width: 60%;
}

.contenedor-formulario form .elemento3 {
  width: 60%;
}

.contenedor-formulario form .elemento4 {
  width: 60%;
}

.contenedor-formulario form .elemento6 {
  grid-column: 1/2;
  grid-row: 4/5;
  width: 60%;
  margin: 0 auto;
}

.contenedor-formulario form p {
  margin: 0;
  padding: 16px;
}

.contenedor-formulario form button {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
  background-color: #0084ff;
  color: #FFFFFF;
  border: 0;
  text-transform: uppercase;
  padding: 16px;
  width: 100px;
}

.contenedor-formulario form input {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
}

.contenedor-formulario form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #0084ff;
  background: rgba(0, 174, 255, 0.09);
}

@media (max-width: 1230px) {
  .mkt-caja {
    min-height: 1550px;
  }
  .contenedor-mkt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1600px;
    min-height: 1500px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .herramientas {
    max-height: 1500px;
    min-height: 1100px;
  }
  .box-herra1 {
    display: flex;
    max-height: 1500px;
    height: 1000px;
    max-width: 900px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
  .contenedor-herramientas {
    margin: 10px;
  }
  .referencia-container {
    min-height: 1400px;
  }
  .conteiner-box {
    display: flex;
    max-height: 1300px;
    min-height: 1200px;
    max-width: 900px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 930px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header img {
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;
    margin: 15px auto;
  }
  nav {
    margin: 30px 5px;
  }
  nav ul a {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header img {
    width: 80px;
    border-radius: 100%;
    margin-right: 20px;
    margin: 15px auto;
  }
  nav {
    margin: 30px 5px;
  }
  .mkt-caja {
    min-height: 1500px;
    margin: 0 auto;
    max-width: 500px;
  }
  .contenedor-mkt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1500px;
    min-height: 1400px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
  }
  .conteiner-box {
    flex-direction: column;
    align-items: center;
    height: 800px;
    z-index: 96;
    display: flex;
    justify-content: space-evenly;
    max-height: 1500px;
    min-height: 1300px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .herramientas {
    max-height: 1500px;
    min-height: 1100px;
  }
  .box-herra1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contenedor-herramientas {
    margin: 10px;
  }
  .referencia-container {
    margin: 0 auto;
    min-height: 1450px;
    max-width: 500px;
  }
  .contacto {
    max-width: 100%;
    display: grid;
  }
  .contacto-titulo {
    text-transform: uppercase;
    text-align: center;
  }
  .contenedor-formulario form {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-template-rows: repeat(1, 4fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .contenedor-formulario form .elemento1 {
    width: 100%;
  }
  .contenedor-formulario form .elemento2 {
    width: 100%;
  }
  .contenedor-formulario form .elemento3 {
    width: 100%;
  }
  .contenedor-formulario form .elemento4 {
    width: 100%;
  }
  .contenedor-formulario form .elemento6 {
    grid-row: 5/5;
    width: 20%;
    margin: 0 auto;
    padding-right: 100px;
  }
}

@media (max-width: 615px) {
  .herramientas {
    max-height: 1500px;
    min-height: 2050px;
  }
  .box-herra1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
/*# sourceMappingURL=main.css.map */