@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'EB Garamond', sans-serif;
}
body{
  background: rgb(189,189,189);
  background: radial-gradient(circle, rgba(189,189,189,1) 11%, rgba(237,238,245,1) 91%); 
}
/************INICIO - HEADER*********/
header{
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  height: 109px;
  width: 100%;
  z-index: 99;
  position: fixed;;
}

header img{
  width: 80px;
  border-radius:100%;
  margin-top: 10px; 
  margin-right: 20px;
  margin: 15px auto ;
}
nav{
  margin-top: 20px;
  margin-right: 100px;
  padding-right: 5px;
  line-height: 3.5; 
}

nav{
  margin: 30px 5px;
}


nav ul a {
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding: 2px 16px;
  margin: 0 2px;
  background-color: rgba(0, 174, 255, 0.349);
  transition: all .5s;
  text-decoration:none;
}

/*  ACTIVAR MENU  */

nav ul a.active, nav ul a:hover {
  color: #0084ff(248, 8, 8);
  transition: 3.s;
}

.hamburger-menu{
  width: 40px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  
}

.line {
  width: 100%;
  height: 20%;
  background-color: black;
}
/************FIN - HEADER*********/

/************ SECCION - MAIN *********/
section{
  text-align: center;
}
h3{
  text-transform: uppercase;
}
.casamiento{
  height: 748px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(227, 143, 106,0.6);
}

.text-casamiento{
  margin-left: 200px;
}
.text-casamiento h2{
  font-size: 45px;
  width: 500px;
  text-align: left;
}
.text-casamiento p{
  font-size: 20px;
  width: 500px;
  margin-top: 20px;
  text-align: left;
}

.servicios {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}
.servicios .cumple{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  
}
.servicios .cumple img{
  width: 464px;
  height: 464px;
}
.servicios .cumple .text-cumple{
  margin-top: 20px;
  width: 500px;
}

.servicios .cumple .text-cumple h2{
  font-size: 20px;
}
.servicios .cumple .text-cumple p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}
.servicios .reunion-coorporativa{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

.servicios .reunion-coorporativa img{
  width: 464px;
  height: 464px;
}

.servicios .reunion-coorporativa .text-coorp{
  margin-top: 20px;
  width: 500px;
}
.servicios .reunion-coorporativa .text-coorp h2{
  font-size: 20px;
}
.servicios .reunion-coorporativa .text-coorp p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.servicios .expo-cultural{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

.servicios .expo-cultural img{
  width: 464px;
  height: 464px;
}
.servicios .expo-cultural .text-expo-cult{
  margin-top: 20px;
  width: 500px;
}

.servicios .expo-cultural .text-expo-cult h2{
  font-size: 20px;
}

.servicios .expo-cultural .text-expo-cult p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}











/************* MEDIA QUERIES *********/

/*******************************************************/
@media (max-width: 1280px){
section{
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 143, 106,0.6);
}


.casamiento{
  min-height: 1000px;
  max-height: 1500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width:500px;
  margin: 0 auto;
}

.imagen img{
 
  width: 500px
}

.text-casamiento{
  margin: 0 auto;
}

.text-casamiento h2{
  font-size: 45px;
  text-align: center;

}
.text-casamiento p{

  font-size: 20px;
  text-align: center;
}




.servicios {
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.servicios .cumple{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
  
}
.servicios .cumple img{
  width: 364px;
  height: 364px;
}
.servicios .cumple .text-cumple{
  margin-top: 20px;
  width: 500px;
}

.servicios .cumple .text-cumple h2{
  font-size: 20px;
}
.servicios .cumple .text-cumple p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}
.servicios .reunion-coorporativa{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

.servicios .reunion-coorporativa img{
  width: 364px;
  height: 364px;
}

.servicios .reunion-coorporativa .text-coorp{
  margin-top: 20px;
  width: 500px;
}
.servicios .reunion-coorporativa .text-coorp h2{
  font-size: 20px;
}
.servicios .reunion-coorporativa .text-coorp p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}

.servicios .expo-cultural{
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
 
}

.servicios .expo-cultural img{
  width: 364px;
  height: 364px;
}
.servicios .expo-cultural .text-expo-cult{
  margin-top: 20px;
  width: 500px;
}

.servicios .expo-cultural .text-expo-cult h2{
  font-size: 20px;
}

.servicios .expo-cultural .text-expo-cult p{
  margin-top: 10px;
  font-size: 16px;
  font-weight: 100;
}






























}





