.casa_seccion{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 800px;
    align-items: center;
    overflow: hidden;

    h3 {
        text-transform: uppercase;
    }

    img {
        height: 660px;
        margin-top: 50px;
    }

    .text-casamiento {
        h2 {
            font-size: 35px;
        }
        p {
            font-size: 20px;
            margin-top: 20px;

        }
    }

}

.cards {
	display: flex;
	justify-content: space-evenly;
    align-items: center;

    .cumple {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 300px;
            height: 300px;
        }

        .text-cumple {
            text-align: center;
            width: 300px;
            
            h2 {
                font-size: 30px;
            }
            p {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 100;
            }
        }

    }


    .reunion-coorporativa {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 300px;
            height: 300px;
        } 
            .text-coorp {
                width: 300px;
                text-align: center;
                 h2 {
                    font-size: 30px;
                 }
                p {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 100;
                }
            }
    }
    .expo-cultural {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            width: 300px;
            height: 300px;
        }        
            .text-expo-cult {
                width: 300px;
                text-align: center;
                
                 h2 {
                     font-size: 30px;
                 }   
                 p {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 100;
                }
            }
    }

}






